.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  // padding-top: 1.5rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: 0.6s;
  z-index: 100;

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 4rem;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;

    .menu-item {
      padding: 2.5rem 0;
    }
  }
}

.link {
  color: white;
  font-size: 2rem;
  &:hover {
    color: white;
  }
}
.header-fixed {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.747);
}
