.heroSection {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  .homeBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -100;
  }

  .banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      width: 35rem;
    }
    .bannerText {
      width: 80rem;
      text-align: center;
      font-size: 3rem;
      color: white;
      margin-bottom: 3rem;
      .bannerText-1 {
        font-size: inherit;
      }
      .bannerText-2 {
        font-size: inherit;
        text-align: center;
      }
    }
  }
}
